.Concordancepage {
  /* font-family: 'Dangrek', sans-serif; */
  font-family: Dangrek, sans-serif;
  color: black ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0 2em;
  
}

.headerContext {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}

.header #backArrow {
  position: absolute;
  font-size: 2em;
  align-self: flex-start;

}

.page .body {
  align-items: center;
}

#line {
  width: 500px;
  background-color: #FBDA80;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;

}

#alert-error-input{
  position: absolute;
  top: calc(100% - 6em); 
  left: calc(50% - 10em);
  margin-right: 4em;
  width: 20em;
  z-index: 1;
}

.filter-concordance {
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 95%; */
}

.box {
  display: flex;
  background-color: #FFF;
  color: black;
  border-radius: 15px;
  border: 0;
  padding: 1em;
  height: 3rem;
  margin: 7px;
}

.data-analysis {
  /* width: auto; */
  /* min-width: 250px;
  max-width: 500px; */
  width: 20%;
  display: flex;
  border: 2px solid #FDC02F;
}

.filename-input{
  width: 35%;
  background-color: #fff;
}

.SearchBox{
  display: flex;
  align-items: center;
  padding: 2px 4px 2px 4px;
  width: 40%;
  height: 3em;
}

.search {
  width: 100px;
  padding: 6px 10px;
  margin: 10px 0;
  color: black;
  background-color: hsl(0, 74%, 49%);
  box-sizing: border-box;
  display: block;
}

.btn-search {
  padding: 10px;

}

.focus{
  padding-left: 1em;
  color: #ff3e3e;
}

table {
  border-collapse: collapse;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 95vw;
}

/* column header   */
.MuiTableCell-head {
  background-color: #FBDA80;
  height: 2em;
  font-size: 1em;
  font-weight: 700;
}

.MuiTableRow-root {
  color: red;
}

/* thead th:first-child {
    padding-left: 0.8em;
    border-top-left-radius: 5em;
} */
tfoot th:first-child {
  border-bottom-left-radius: 5em;
}

/* thead th:last-child {
    border-top-right-radius: 5em;
}
tfoot th:last-child {
    border-bottom-right-radius: 5em;
} */

/* th,
  td {
    padding: 8px 10px;
  } */

/* td:last-of-type {
    text-align: center;
  } */

tbody>tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tbody>tr:nth-of-type(odd) {
  background-color: #fff;
}