.create-modal {
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); /* ใช้การแปลง translate เพื่อย้าย Modal กลับไปที่ตำแหน่งกึ่งกลางของหน้าจอ */
  z-index: 1000; /* ตั้งค่า z-index เพื่อให้ Modal แสดงทับส่วนอื่น ๆ ในหน้าเว็บ */
  background-color: white; 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* เพิ่มเงาให้กับ Modal */
  padding: 20px; 

  display: flex;
  flex-direction: column; /* เพื่อให้ส่วนของ Modal เรียงในแนวดิ่ง */
}

.create-modal {
  width: 400px; 
}

.create-modal p {
  font-size: 16px;
}

.create-modal button {
  background-color: black; 
  color: white; 
  border: none; 
  padding: 10px 20px; /* ตั้งความสูงและความกว้างของปุ่ม */
  border-radius: 5px; 
  cursor: pointer; 
}

.create-modal button:focus {
  outline: none; 
}

.create-modal .modal-body {
  /* ปรับให้ text area ขยายเท่ากับขนาดความกว้างของ modal */
  width: 100%;
}

.create-modal .form-control {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: .375rem .75rem; /* ขนาดของ padding ของ text area */
  font-size: 1rem; 
  line-height: 1.5;
  width: calc(100% - 2 * (.75rem + 1px)); /* คำนวณขนาดความกว้างของ text area */
  resize: none; /* ป้องกันการ resize ขนาดของ text area */
}

.create-modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}