.text-editor {
    background: #fff8f1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;               
    padding: 0; 
}

.errortag-header {
    height: 5vh;
    display: grid;
    grid-template-columns: 2ch auto;
    align-items: center;
    gap: 2vw;
    padding: 1vh 2vw;
}

.errortag-filename {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 500;
}

.main-bar {
    height: 5vh;
    display: flex;
    justify-content: center;
    padding: 0.5vh;
    gap: 1vw;
}

.main-bar button {
    height: 100%;
}

.errortag-container {
    height: 55vh;
    display: grid;
    grid-template-columns: 50vw 30vw;
    justify-content: center;
    align-items: center;
    padding: 2vh 4vw;
    gap: 2%;
}

.errortag-text {
    width: 50vw;
    height: 100%;
    display: flex;
    background-color: white;
    color: #515151;
    border: 0.2vw solid rgba(0, 0, 0, .1);
    border-radius: 2vw;
    padding: 0 1vw;
    font-size: 2.5vw;
}

.errortag-tagset {
    /* background-color: antiquewhite;
    width: 30vw;
    height: 100%;
    font-size: 2.5vw; */
        max-height: 300px; /* Adjust this height as needed */
    overflow-y: auto;
    border: 1px solid #ccc; /* Optional, for visual separation */
    padding: 10px; /* Optional, for better appearance */
    margin-top: 10px;
}

.errortag-footer {
    height: 22vh;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    padding: 2vh 4vw;
    gap: 2%;
}

.correction {
    width: 50vw;
    height: 100%;
    background-color: white;
    color: #515151;
    border: 0.2vw solid rgba(0, 0, 0, .1);
    border-radius: 2vw;
    padding: 0 1vw;
    font-size: 2.5vw;
}

.footer-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 100%;
    gap: 2%;
}

.errortag-submit-btn, .errortag-remove-btn {
    width: 70%;
    height: 40%;
    border-radius: 2vw;
    font-size: 2.5vw;
}

.toggle-click {
    background-color: #E7E5FF;
    color: black;
    margin: 1vh;
}

.toggle-click.selected {
    background-color: #A29BFE; /* Change this to your preferred selected color */
    color: white; /* Adjust the text color if needed */
    font-weight: bold; /* Optional, make it more noticeable */
}