.FileCom {
  /* background-color: aquamarine; */
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.drop-container {
  text-align: start;
}

.choose-container {
  width: 50vw;
  border-collapse: collapse;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.file-text-container input {
  height: 10vh;
  padding: 20px 0px 20px 20px;
  background-color: white;
  color: #515151;
  border: 2px solid rgba(0, 0, 0, .2);
  /* display: flex;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start; */
}

.submit-button {
  /* background-color: antiquewhite; */
  width: 20vw;
  margin-left: 30%;
}

.submit-button button {
  width: 10px;
  height: 50px;
  background: #FC5B5C;
  color: white;
  border: 2px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  transition: background-color 0.3s ease;
}