.FileCom {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-container {
  width: 100%;
  border-collapse: collapse;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  background-color: white;
}

.file-text-container input {
  width: calc(100% - 60px);
  padding: 20px 45px 20px 20px;
  background-color: white;
  color: #515151;
  border: 2px solid rgba(0, 0, 0, .2);
}

.FileCom button {
  width: 50px;
  height: 50px;
  background: #FC5B5C;
  color: white;
  border: 2px solid rgba(0, 0, 0, .1);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 800px;
  transition: background-color 0.3s ease;
}