@font-face {
    font-family: 'Dangrek', 'Fredoka';
    src: url('../styles/Dangrek-Regular.ttf') format('truetype');
    src: url('../styles/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  body {
    font-family: 'Dangrek', sans-serif;
  }
  