.documentpage{
  padding: 2em 2em 0 2em;
}
.document-title {
    /* font-family: Dangrek, sans-serif; */
    text-align: center;
    /* font-size: 80px; */
    font-size: 4em;
    /* font-weight: bold; */
    border-bottom: 8px solid #FBDA80;

    padding-bottom: 10px;
    margin-bottom: 20px;
    color: black;
  }

.tagset-title {
  /* font-family: Dangrek, sans-serif; */
  text-align: center;
  /* font-size: 80px; */
  font-size: 4em;
  /* font-weight: bold; */
  border-bottom: 8px solid #FBDA80;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.body_container-closed {
  width: 100%;
}
  
  .button-bar {
    /* font-family: Fredoka; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    font-size: 20px;
  }

  .button-bar button {
    outline: none; /* ลบเส้นขอบเมื่อปุ่มได้รับ focus */
  }
  

  .button-bar > :not(:last-child) {
    margin-right: 10px;
  }

  .corpus-button {
    padding: 0.2em 1.0em;
    border: none;
    background-color: #FC5B5C;
  }

  .concordancer-button {
    padding: 0.1em 1.0em;
    border: none;
    background-color: #FC5B5C;
    border-radius: 9px;
    color: #FFF8F1;
  }

  .concordancer-button:hover {
    background-color: #FC5B5C;
    color: #FFF8F1;
  }
  
  
  .sort-button {
    border: none;
    padding: 0.15em 1.0em;
    background-color: #FC5B5C;
  }
  
  .sort-button:focus {
    background-color: #FC5B5C;
  }

  /* .small-filter-alt-icon {
    font-size: 10px;
  } */
  
  .new-button {
    background-color: #FC5B5C;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    width: 40px;
    height: 40px;
    /* padding: 5px 5px; */
    font-size: 30px;
    border-radius: 35px;
    position: fixed;
    bottom: 100px; 
    right: 100px; 
    display: flex;
    right: 100px;

  }
  
  .new-button:focus {
    outline: none;
    background-color: #fa4a4a;
  }

  .new-button:hover {
    outline: none;
    background-color: #fa4a4a;
    color: #ffffff;
  }
  
  .item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .file-item {
    border-radius: 5px;
    padding: 10px;
    width: 200px;
  }
  
  .item-icon {
    font-size: 80px;
    text-align: center;
  }

  .tagset-icon {
    text-align: center;
  }

  .f-icon{
    width: 5em;
    height: 5em;
  }
  
  .item-name {
    font-family: Fredoka, sans-serif;
    font-weight: bold;
  }
  .file-name{
    font-family: Fredoka, sans-serif;
    /* font-weight: bold; */
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    text-align: center;
  }
  
  
  .item-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 30px 0px 30px;
    /* justify-content: flex-end; */
  }
  

.tagset-create-button {
  background-color: #FC5B5C;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: none;
  width: 40px;
  height: 40px;
  padding: 5px 5px;
  font-size: 30px;
  border-radius: 35px;
  border-radius: 100%;
  position: absolute;

  top: 8.5%;
  right: 10%; 
  border: none;
}

.tagset-create-button:focus {
  outline: none;
}

.tagset-description {
  font-family: Fredoka;
  text-align: center;
  font-size: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}


input {
  background-color: white;
  color:gray;
}

textarea {
  font-family: fredoka;
  background-color: white;
  color:gray;
  font-size: 1em;
  border: none;
}

.add-tagset-button {
  background-color: #FC5B5C;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: none;
  width: 40px;
  height: 40px;
  /* padding: 5px 5px; */
  font-size: 30px;
  border-radius: 35px;
  position: fixed;
  bottom: 100px; 
  right: 100px; 
  display: flex;
  top: 8.5%;
  right: 10%; 
  position: absolute;
}

.new-button:focus {
  outline: none;
  background-color: #fa4a4a;
}

.new-button:hover {
  outline: none;
  background-color: #fa4a4a;
  color: #ffffff;
}