.reset-password-container {
    font-family: Dangrek, sans-serif;
    color: black;
    background: #FFF8F1;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0 2em;
}

.reset-password-container .header{
    display: flex;
    flex-direction: column;
    
}
.inputGroup{
    margin-top: 10px;
}

.reset-h1 {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.old, .new, .confirm {
    /* background-color:aquamarine; */
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    
}

.input-old, .input-new, .input-confirm {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 20px;
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    color: #515151;
    
}

.reset-submit {
    /* background-color:blueviolet; */
    display: flex;
    justify-content: center;
}

.reset-password-container button {
    width: 250px;
    height: 50px;
    background: #FC5B5C;
    color: white;
    font-family: 'Fredoka', sans-serif;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

.reset-password-container button:hover,
.reset-password-container button:active {
    border: 2px solid #515151;
    background: #fff3b7;
    color: black;
}

@media (max-width: 768px) {
    .reset-password-container h1 {
        font-size: 48px;
        /* Smaller font size for mobile */
    }

    .reset-password-container {
        width: 95%;
        /* Increase width on smaller screens */
        padding: 20px;
        /* Smaller padding for smaller screens */
    }

    .reset-password-container input,
    .reset-password-container button,
    .reset-password-container button {
        width: calc(100% - 60px);
        /* Increase relative width for mobile */
    }

}